.Board {
  position: relative;
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: 100vw;
  background-color: #bbada0;
  
  touch-action: none;
  user-select: none;
}

.Board__lostScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 300px;
  transform: translate(-50%, -50%);

  background-color: #fff;
}

.Board--hasLost .Board__lostScreen {
  display: block;
}

.Board__placeholder {
  position: absolute;

  background-color: #cdc1b5;
  border-radius: 3px;
  touch-action: none;
  user-select: none;
}
